
APP_PORT=8080
LOG_LEVEL=info
SPRING_PROFILES_ACTIVE=

DATABASE_HOSTNAME=localhost
DATABASE_PORT=3306
DATABASE_NAME=socialmedia
DATABASE_USERNAME=root
DATABASE_PASSWORD=

REDIS_HOSTNAME=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

RESEND_API_KEY=
MAIL_FROM=Lopet <onboarding@resend.dev>
MAIL_ADMIN_RECEIVER=

MAX_FILE_SIZE=100MB
MAX_REQUEST_SIZE=500MB

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=3600
REFRESH_TOKEN_EXPIRES_IN=36000

DOMAIN_CORS=*

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

INIT_ADMIN_EMAIL=
INIT_ADMIN_USERNAME=
INIT_ADMIN_PASSWORD=

SEED_DEMO=true

AMQP_URl=
AMQP_USER=
AMQP_PASSWORD=

RABBIT_MQ_URl=